{% extends 'components/base2.html' %}
{% block title %} slotzz {% endblock title %}
{% block content %}

<body class="max-h-screen bg-cover bg-center  bg-white ">
    <div class="flex  justify-center items-center align-center px-24 py-24">
        <div class="flex space-x-8">

            <!-- First Card -->
            <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Creation of Resources
                        
                        </h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Admin can create the own resource</p>
                <a href="/resource" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800">
                    Create Resource
                </a>
            </div>

            <!-- Second Card -->
            <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">  Booking of Resources</h5>
                </a> 
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">To book the resources.</p>
                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800">
                    Book Resource
                </a>
            </div>

        </div>
    </div>
</body>

{% endblock content %}
