{% extends 'components/base.html' %}
{% block title %} login page {% endblock title %}
{% block content %}


<body class="max-h-screen bg-cover bg-center bg-[url('/static/images/tic.jpg')]">
  
    <div class="flex min-h-full flex-col justify-start align-left w-3/4   px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
          
          <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
        </div>
      
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
          <form class="space-y-6"  id="login_form" method="post">
            <div>
              <label for="mail" class="block text-sm font-medium leading-6 text-white">Email address</label>
              <div class="mt-2">
                <input id="Email" name="Email" type="Email" autocomplete="Email" required class="block w-full rounded-md border-0 p-2 ">
              </div>
              <div id="email-error" class="text-red-500"></div>

            </div>
      
            <div>
              <div class="flex items-center justify-between">
                <label for="Password" class="block text-sm font-medium leading-6 text-white">Password</label>
                <div class="text-sm">
                  <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
                </div>
                
              </div>
              <div class="mt-2">
                <input id="Password" name="Password" type="Password" autocomplete="current-password" required class="block w-full rounded-md border-0 p-2  ">
              </div>
              <div id="password-error" class="text-red-500"></div>
            </div>
      
            <div>
              <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white  ">Sign in</button>
            </div>
          </form>
      
          <p class="mt-10 text-center text-sm text-red-500">
            Not a member?
            <a href="/signuppage" class="font-semibold leading-6 text-indigo-600 hover:text-pink-500">register here</a>
          </p>
        </div>
      </div>
    
    
  </body>
</html>
{% endblock content %}


{% block js_scripts %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}