
{% extends 'components/base.html' %}
{% block title %}signup page{% endblock %}
{% block content %}



<body class="max-h-screen bg-cover bg-center bg-[url('/static/images/tic.jpg')]">
    <div class="flex min-h-full flex-col justify-center align-left w-3/4 px-6 p-1 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
          
          <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
        </div>
      
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
          <form class="space-y-6" id="signup_form" >
            <div>
                <label for="name" class="block text-sm font-medium leading-6 text-gray-900">FullName</label>
                <div class="mt-2">
                  <input id="Fullname" name="Fullname" type="text" autocomplete="Fullname" required class="block w-full rounded-md border-0 p-1 text-gray-900 ">
                </div>
              </div>
        
            <div>
              <label for="mail" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
              <div class="mt-2">
                <input id="Email" name="Email" type="Email" autocomplete="Email" required class="block w-full rounded-md border-0 p-1 text-gray-900 ">
              </div>
            </div>

            <div>
              <label for="contact" class="block text-sm font-medium leading-6 text-gray-900">Contact Number</label>
              <div class="mt-2">
                <input id="Contact_no" name="Contact_no" type="text" autocomplete="Contact_no" required class="block w-full rounded-md border-0 p-1 text-gray-900 ">
              </div>
            </div>


      
            <div>
              
                <label for="Password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                <div class="mt-2">
                <input id="Password" name="Password" type="Password" autocomplete="current-password" required class="block w-full rounded-md border-0 p-1 text-gray-900 ">
                <span
                onclick="togglePasswordVisibility('Password')"
                class="absolute top-1/2 transform -translate-y-1/2 right-2 cursor-pointer"
              >
                <span id="eyeIcon" class="text-red-600">👁️</span>
              </span>
              </div>
              </div>

              <div>
                
                    <label for="Confirm_password" class="block text-sm font-medium leading-6 text-gray-900">confirm Password</label>
                    <div class="mt-2">
                    <input id="Confirm_password" name="Confirm_password" type="Password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1 text-gray-900 ">
    
                  </div>
                              
            </div>
            
            <div>
              <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 p-1 text-sm font-semibold leading-6 text-white ">Sign in</button>
            </div>
          </form>
      
          <p class="mt-10 text-center text-sm text-grey-500">
            already existed?
            <a href="/loginpage" class="font-semibold leading-6 text-red-600 hover:text-indigo-500">login here</a>
          </p>
        </div>
      </div>
      
  </body>

{% endblock content %}


{% block js_scripts %}
<script src="{{ url_for('static', filename='js/signup.js') }}"></script>
{% endblock %}